[submodule "2022_Endle_LPA_feeding_control"]
	path = 2022_Endle_LPA_feeding_control
	url = git@gin.g-node.org:/Vogt_Lab/2022_Endle_LPA_feeding_control.git
	datalad-id = fd41dcd4-0215-4aef-8706-6e97c136c97f
	datalad-url = git@gin.g-node.org:/Vogt_Lab/2022_Endle_LPA_feeding_control.git
[submodule "2022_Bitar_ATX_stroke"]
	path = 2022_Bitar_ATX_stroke
	url = git@gin.g-node.org:/Vogt_Lab/2022_Bitar_ATX_stroke.git
	datalad-id = ebf6852a-ff0c-45c7-99f9-ab7910b084d9
	datalad-url = git@gin.g-node.org:/Vogt_Lab/2022_Bitar_ATX_stroke.git
[submodule "2021_Ye_Ji_carbon_nanotubes_differentiation"]
	path = 2021_Ye_Ji_carbon_nanotubes_differentiation
	url = git@gin.g-node.org:/Vogt_Lab/2021_Ye_Ji_carbon_nanotubes_differentiation.git
	datalad-id = 20bc6743-827d-4cbf-af60-38add7f55bc5
	datalad-url = git@gin.g-node.org:/Vogt_Lab/2021_Ye_Ji_carbon_nanotubes_differentiation.git
